<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALMOST</title>
    <link rel="stylesheet" href="/src/css/almost/style.css" />
  </head>
  <body>
    <main class="grid">
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div><span>E-Commerce</span></div>
        <div><span>UNIF</span></div>
        <div><span>Design & Development</span></div>
        <div><div>2014 → Present</div></div>
      </div>
      <div>
        <div><span>Event</span></div>
        <div><span>Veuve Clicquot</span></div>
        <div><span>Website, Initiative Identities</span></div>
        <div><div>2015 → Present</div></div>
      </div>
      <div>
        <div><span>Artist</span></div>
        <div><span>HAIM</span></div>
        <div>
          <span
            >Visual Identity, Digital Strategy,<br />
            Design & Development</span
          >
        </div>
        <div><div>2014 → Present</div></div>
      </div>
      <div>
        <div><span>Institutional</span></div>
        <div><span>MOCA</span></div>
        <div><span>Streaming Platform</span></div>
        <div><div>2016</div></div>
      </div>
      <div>
        <div><span>Studio Project</span></div>
        <div><span>Public Access</span></div>
        <div><span>Website, Streaming Platform, Programming</span></div>
        <div><div>2015 → Forever</div></div>
      </div>
      <div>
        <div><span>Musician</span></div>
        <div><span>Kelela</span></div>
        <div><span>Interactive Microsite</span></div>
        <div><div>2015</div></div>
      </div>
    </main>
    <div class="center">
      <div>Special - Offer, Inc.</div>

      <div>&copy;2014→Forever</div>
      <i class="fa-solid fa-fan"></i>
    </div>
    <div class="second-grid">
      <div>
        <div><i class="fa-regular fa-circle"></i><span>Information</span></div>
        <div><i class="fa-regular fa-circle"></i><span>Team</span></div>
        <div><i class="fa-solid fa-circle"></i><span>Press</span></div>
      </div>
      <div>
        <span>Art News</span>
        <p>
          Performa Launches Online Platform for Streaming New and Archived Works
        </p>
      </div>
      <div>
        <span>The Guardian</span>
        <p>
          Masked balls and gay uprisings: Qeer Maps is a guie to 150 years of
          LGBTQ history
        </p>
      </div>
      <div>
        <span>Frieze</span>
        <p>
          Distributed DISsent - How disart blurs the lines between education,
          entertainment and commerce
        </p>
      </div>
      <div>
        <span>It's Nice That</span>
        <p>Disart tums "leaming into a Netflix- like experience"</p>
      </div>
      <div>
        <span>WWD</span>
        <p>Art Collective Dis Releases Progressive Video Platform</p>
      </div>
      <div>
        <span>Art Net</span>
        <p>
          DIS Magazine, New York's Hippest Art Media Outlet, Is Launching a PBS
          for Gen Z
        </p>
      </div>
      <div>
        <span>The New Yorker</span>
        <p>How to be a Successful Black Woman</p>
      </div>
      <div>
        <span>Village Voice</span>
        <p>
          Martine Syms's Interactive MoMA Installation Explores The Tyranny of
          Screens
        </p>
      </div>
      <div>
        <span>Kaleidoscope Magazine</span>
        <p>Martine Syms & Carhartt WIP</p>
      </div>
      <div>
        <span>Dazed Magazine</span>
        <p>Dazed Summer 2017</p>
      </div>
      <div>
        <span>Art Forum</span>
        <p>Martine Syms discusses her Projects exhibition at MoMA</p>
      </div>
      <div>
        <span>Culture Type</span>
        <p>Public Access</p>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/a4852596ef.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
