<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/besthorrorscenes/css/styles.css" />
    <title>Best Horror Scenes</title>
  </head>
  <body>
    <div class="main-grid">
      <div class="left-sidebar">
        <div class="left-sidebar__logo">
          <h1>
            <div>BEST</div>
            <div class="horror-eyes">
              H
              <div class="horror-eye left"></div>
              RR
              <div class="horror-eye right"></div>
              R
            </div>
            <div>SCENES</div>
          </h1>
        </div>
        <div class="left-sidebar__description"></div>
      </div>
      <div class="content-grid">
        <div class="content__top-bar"></div>
        <div class="content"></div>
      </div>
    </div>
  </body>
</html>
