<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>repl.it</title>
    <link
      href="/src/css/contributors/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="grid">
      <div>
        <span>Foreword, Contributors</span>
      </div>
      <div>
        <span>Tools for Slowing Down</span>
        <span>chioe Geoghegan & Chioe Reith</span>
      </div>
      <div>
        <img
          src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdaPJMD%2FbtqCinzhh9J%2FakDK6BMiG3QKH3XWXwobx1%2Fimg.jpg"
          alt=""
        />
      </div>
      <div>
        <span>The (Old) New Spirit of Curating and Myths of Nomadism</span>
        <span>Tim Gentles</span>
      </div>
      <div>
        <img
          src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb01wXD%2FbtqCoSj5yEx%2FvGkmlskMCLIm1XcYVFpkFK%2Fimg.jpg"
          alt=""
        />
      </div>
      <div>
        <span>Pressing Singularties</span>
        <span>Tendai John Mutambu & Robyn Maree Pickens</span>
      </div>
      <div><span>We're in This Together</span> <span>Vera Mey</span></div>
      <div>
        <span
          >The Curatorial as a Liveable Subject Position: Hospitality and
          Differential Consciousness</span
        >
        <span>Danny Butt</span>
      </div>
      <div>
        <span>Community, Community Art, Community Art in Howick</span>
        <span>Balamohan Shingade</span>
      </div>
      <div>
        <img
          src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F0OEoM%2FbtqCjSyW2Py%2FY6Ki7gqMv7JIvJCqsvkSkK%2Fimg.jpg"
          alt=""
        />
      </div>
      <div>
        <span>Feeling Welcome?</span>
        <span>Louisa Afoa & loana Gordon-Smith</span>
      </div>
      <div>
        <img
          src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi3Bjs%2FbtqCnZ4RxvM%2Fn0s7AKBBSe6abyQKCqFA5K%2Fimg.jpg"
          alt=""
        />
      </div>
      <div><span>On Friendship</span> <span>Rebecca Boswell</span></div>
    </div>
  </body>
</html>
