<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paris</title>
    <link rel="stylesheet" href="/src/css/poster-clone/style.css" />
  </head>
  <body>
    <section class="poster">
      <header class="poster-header">
        <span>Paris</span>
        <span>06.</span>
      </header>
      <main class="poster-main">
        <div class="poster-content">
          <div>
            <span>country</span>
            <span>firance</span>
            <span>population</span>
            <span>2,249,975</span>
            <span>coordinates</span>
            <span>45'51'24'n</span>
            <span>2'21'03'E</span>
            <span>colours</span>
            <span>c23 mo yo ko</span>
            <span>c0 mo yo kt4</span>
            <span>c100 mo y84 ko</span>
          </div>
          <address>https://nomadcoders.co</address>
        </div>
        <div class="poster-picture">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </main>
    </section>
  </body>
</html>
