<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/tenxnineteen/css/styles.css" />
    <title>10x19Clone</title>
  </head>
  <body>
    <div class="grid">
      <div>
        <div class="left-top__animation">10X19</div>
      </div>
      <div><div class="top-down"></div></div>
      <div>
        <div class="right-top__animation">MENU</div>
      </div>
      <div>
        <div class="horizon"></div>
        <div><div class="left-ani">#10</div></div>
        <div><div class="left-ani">#9</div></div>
        <div><div class="left-ani">#8</div></div>
        <div><div class="left-ani">#7</div></div>
        <div><div class="left-ani">#6</div></div>
      </div>
      <div>5</div>
      <div>
        <div><div class="right-ani">#5</div></div>
        <div><div class="right-ani">#4</div></div>
        <div><div class="right-ani">#3</div></div>
        <div><div class="right-ani">#2</div></div>
        <div><div class="right-ani">#1</div></div>
      </div>
      <div></div>
      <div>
        <div>
          <div>
            Thirty-four artists visually interpret and countdown their favorite
            alvums of 2019
            <span>●</span>
          </div>
          <div>
            Thirty-four artists visually interpret and countdown their favorite
            alvums of 2019
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </body>
</html>
