@import "_variables";
body {
  margin: 0;
}
.main-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 1fr / 1fr 2fr;

  > div {
    display: grid;
    &:nth-child(1) {
      grid-template: 1fr 1fr / 1fr;
      background: rgba(0, 0, 0, 0.1);
    }
    &:nth-child(2) {
      grid-template: 1fr 7fr / 1fr;
      background: $basecolor;
      > div:nth-child(1) {
        box-shadow: 20px 0px 20px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.horror-eyes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horror-eye {
  border: 4px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
