.father {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 50px 100px;
  column-gap: 10px;
  row-gap: 10px;
  /*column row 합친 속성*/
  gap: 10px;
}

.child {
  /*main axis 기본 값을 설정*/
  flex-basis: 200px;
  background: peru;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: black;
  /* 요소의 줄어드는 범위를 조절*/
  flex-shrink: 2;
}

.child:nth-child(1) {
  /*요소의 빈공간을 채우는 범위를 조절*/
  flex-grow: 1;
}
