.father {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  flex-direction: row-reverse;

  align-content: space-around;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: black;
  /* 요소의 줄어드는 범위를 조절*/
  flex-shrink: 2;
}

.child:nth-child(1) {
  /*요소의 빈공간을 채우는 범위를 조절*/
  flex-grow: 1;
}
